.App {
  text-align: center;
}

.square {
  background: white;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  display: inline-block;
}

.square:focus{
  outline: none;
}


.board-row:after{
  clear: both;
  content: "";
  display: table;

}

.game{
  
}
